<html>
<head>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="~/scripts/createQuest.js"></script>
    <script src="~/scripts/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
</head>


<style>
    ::-webkit-input-placeholder {
        color: #585858;
    }

    ::-moz-placeholder {
        color: #585858;
    }

    :-moz-placeholder {
        color: #585858;
    }

    :-ms-input-placeholder {
        color: #585858;
    }
</style>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">QUEST EDITOR</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <!--<a class="mdl-navigation__link" href="">SIGN UP</a>
                    <a class="mdl-navigation__link" href="">LOG IN</a>-->
                </nav>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Your content goes here -->
                <!-- Three Line List with secondary info and action -->
                <style>
                    .demo-list-three {
                        width: 650px;
                    }
                </style>

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width : 400; margin-top : -20;">
                            <input class="mdl-textfield__input" type="text" id="inputQuest" placeholder="Quest Name">
                            <label class="mdl-textfield__label" for="sample2"></label>
                        </div>

                        <ul id="questList" class="demo-list-three mdl-list" style="margin-top : 20; margin-left : 20;"></ul>
                        <div style="margin-left : 75;">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width : 400">
                                <input class="mdl-textfield__input" type="text" id="inputName" placeholder="Title">
                                <label class="mdl-textfield__label" for="sample2"></label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width : 400; margin-top : -20;">
                                <input class="mdl-textfield__input" type="text" id="inputUrl" placeholder="Url for your image">
                                <label class="mdl-textfield__label" for="sample2"></label>
                            </div>

                            <div class="mdl-grid">

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--5-col" style="width : 135; margin-top : -20; margin-right : 15;margin-left : -5">
                                    <input class="mdl-textfield__input" type="text" id="inputCoor1" placeholder="Coordinations">
                                    <label class="mdl-textfield__label" for="sample2"></label>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--5-col" style="width : 135; margin-top : -20; margin-right : 25">
                                    <input class="mdl-textfield__input" type="text" id="inputCoor2" placeholder="Coordinations">
                                    <label class="mdl-textfield__label" for="sample2"></label>
                                </div>

                                <div class="mdl-cell--2-col ">
                                    <button id="btnLocate" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="addMarker();">Locate</button>
                                </div>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield" style="width : 400; margin-top : -30;">
                                <textarea class="mdl-textfield__input" type="text" rows="2" id="inputDescription" placeholder="Description"></textarea>
                                <label class="mdl-textfield__label" for="sample6"></label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield" style="width : 400; margin-top : -30;">
                                <textarea class="mdl-textfield__input" type="text" rows="2" id="inputQuestion" placeholder="Question"></textarea>
                                <label class="mdl-textfield__label" for="sample6"></label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield" style="width : 400; margin-top : -30;">
                                <textarea class="mdl-textfield__input" type="text" rows="2" id="inputAnswer" placeholder="Answer"></textarea>
                                <label class="mdl-textfield__label" for="sample7"></label>
                            </div>
                        </div>
                        <div class="mdl-grid">

                            <div class="mdl-cell mdl-cel--6-col">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width:150 ; margin-left : 40" id="btnCreate" onclick="removeAllElems();">
                                    Create QUEST
                                </button>
                            </div>
                            <div class="mdl-cell mdl-cel--6-col">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-left : 140; width : 100;" id="btnAdd">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <div id="googleMap" style="width:600px;height:400px; margin-top : 30"></div>
                    </div>
                </div>

            </div>
        </main>
    </div>




</body>
<script>

  initialize()

  google.maps.event.addDomListener(window, 'load', initialize);

	function generate(id, name, description, url){
		var leftpartname = '<li class="mdl-list__item mdl-list__item--three-line" style=" margin-left : 30;"><div class="mdl-list__item-primary-content"><i  mdl-list__item-avatar"><img src="'+url+'"></i> <div style="width:300">';

		var rightpartname= '</div> <div class="mdl-list__item-text-body" style="width:360">';

		var rightpartdesc = '</div></div><div class="mdl-list__item-secondary-content"> <button class="mdl-button mdl-js-button mdl-button--colored" style="margin-right:150">Delete</button></div></li';

		$(leftpartname+ name + rightpartname + description + rightpartdesc).appendTo("#questList");

		$("button" ).each(function() {

		$( this ).click(function(){
	if ($( this ).attr('id') + '' == "btnAdd")
	{

	}
	else if( $(this ).attr('id') + '' == "btnLocate"){

	}
	else if( $(this ).attr('id') + '' == "btnCreate"){

	}
	else {
		$(this).parent().parent().remove();
	}

  });
});



}

$("button" ).each(function() {
  $( this ).click(function(){
	if ($( this ).attr('id') + '' == "btnAdd")
	{
		btnAddClick();
	}

  });
});



	function btnAddClick(){
		var name = $("#inputName").val();
		$("#inputName").val("");
		var description = $("#inputDescription").val();
		$("#inputDescription").val("");
		var question = $("#inputQuestion").val();
		$("#inputQuestion").val("");
		var answer = $("#inputAnswer").val();
		$("#inputAnswer").val("");
		var url = $("#inputUrl").val();
		$("#inputUrl").val("");
		$("#inputCoor1").val("");
		$("#inputCoor2").val("");
		var id = new Date().getTime();
		generate(id, name, description, url);
		var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

	}

</script>
</html>
